<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="mainController" style="padding: 1%; background-color: lightblue">
    <h2>Tabela de Correção Teste de Personalidade COMREY</h2>
<md-card layout="column" layout-margin style="background-color: bisque">
    <div layout="row" layout-sm="column";>
        <div flex>
    <label>Questão A1</label>
    <md-radio-group ng-model="resposta.a1" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A2</label>
    <md-radio-group ng-model="resposta.a2" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A3</label>
    <md-radio-group ng-model="resposta.a3" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A4</label>
    <md-radio-group ng-model="resposta.a4" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A5</label>
    <md-radio-group ng-model="resposta.a5" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A6</label>
    <md-radio-group ng-model="resposta.a6" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A7</label>
    <md-radio-group ng-model="resposta.a7" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A8</label>
    <md-radio-group ng-model="resposta.a8" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A9</label>
    <md-radio-group ng-model="resposta.a9" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A10</label>
    <md-radio-group ng-model="resposta.a10" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A11</label>
    <md-radio-group ng-model="resposta.a11" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A12</label>
    <md-radio-group ng-model="resposta.a12" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A13</label>
    <md-radio-group ng-model="resposta.a13" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A14</label>
    <md-radio-group ng-model="resposta.a14" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A15</label>
    <md-radio-group ng-model="resposta.a15" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A16</label>
    <md-radio-group ng-model="resposta.a16" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A17</label>
    <md-radio-group ng-model="resposta.a17" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A18</label>
    <md-radio-group ng-model="resposta.a18" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A19</label>
    <md-radio-group ng-model="resposta.a19" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A20</label>
    <md-radio-group ng-model="resposta.a20" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A21</label>
    <md-radio-group ng-model="resposta.a21" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A22</label>
    <md-radio-group ng-model="resposta.a22" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A23</label>
    <md-radio-group ng-model="resposta.a23" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A24</label>
    <md-radio-group ng-model="resposta.a24" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A25</label>
    <md-radio-group ng-model="resposta.a25" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A26</label>
    <md-radio-group ng-model="resposta.a26" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A27</label>
    <md-radio-group ng-model="resposta.a27" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A28</label>
    <md-radio-group ng-model="resposta.a28" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A29</label>
    <md-radio-group ng-model="resposta.a29" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A30</label>
    <md-radio-group ng-model="resposta.a30" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A31</label>
    <md-radio-group ng-model="resposta.a31" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A32</label>
    <md-radio-group ng-model="resposta.a32" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A33</label>
    <md-radio-group ng-model="resposta.a33" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A34</label>
    <md-radio-group ng-model="resposta.a34" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A35</label>
    <md-radio-group ng-model="resposta.a35" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A36</label>
    <md-radio-group ng-model="resposta.a36" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A37</label>
    <md-radio-group ng-model="resposta.a37" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A38</label>
    <md-radio-group ng-model="pessoa.a38" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A39</label>
    <md-radio-group ng-model="resposta.a39" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A40</label>
    <md-radio-group ng-model="resposta.a40" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A41</label>
    <md-radio-group ng-model="resposta.a41" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A42</label>
    <md-radio-group ng-model="resposta.a42" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A43</label>
    <md-radio-group ng-model="resposta.a43" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A44</label>
    <md-radio-group ng-model="resposta.a44" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A45</label>
    <md-radio-group ng-model="resposta.a45" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A46</label>
    <md-radio-group ng-model="resposta.a46" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A47</label>
    <md-radio-group ng-model="resposta.a47" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A48</label>
    <md-radio-group ng-model="resposta.a48" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A49</label>
    <md-radio-group ng-model="resposta.a49" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
        </div>
        <div flex>
    <label>Questão A50</label>
    <md-radio-group ng-model="resposta.a50" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A51</label>
    <md-radio-group ng-model="resposta.a51" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A52</label>
    <md-radio-group ng-model="resposta.a52" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A53</label>
    <md-radio-group ng-model="resposta.a53" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A54</label>
    <md-radio-group ng-model="resposta.a54" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A55</label>
    <md-radio-group ng-model="resposta.a55" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A56</label>
    <md-radio-group ng-model="resposta.a56" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A57</label>
    <md-radio-group ng-model="resposta.a57" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A58</label>
    <md-radio-group ng-model="resposta.a58" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A59</label>
    <md-radio-group ng-model="resposta.a59" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A60</label>
    <md-radio-group ng-model="resposta.a60" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A61</label>
    <md-radio-group ng-model="resposta.a61" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A62</label>
    <md-radio-group ng-model="resposta.a62" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A63</label>
    <md-radio-group ng-model="resposta.a63" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A64</label>
    <md-radio-group ng-model="resposta.a64" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A65</label>
    <md-radio-group ng-model="resposta.a65" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A66</label>
    <md-radio-group ng-model="resposta.a66" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A67</label>
    <md-radio-group ng-model="resposta.a67" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A68</label>
    <md-radio-group ng-model="resposta.a68" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A69</label>
    <md-radio-group ng-model="resposta.a69" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A70</label>
    <md-radio-group ng-model="resposta.a70" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A71</label>
    <md-radio-group ng-model="resposta.a71" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A72</label>
    <md-radio-group ng-model="resposta.a72" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A73</label>
    <md-radio-group ng-model="resposta.a73" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A74</label>
    <md-radio-group ng-model="resposta.a74" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A75</label>
    <md-radio-group ng-model="resposta.a75" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A76</label>
    <md-radio-group ng-model="resposta.a76" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A77</label>
    <md-radio-group ng-model="resposta.a77" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A78</label>
    <md-radio-group ng-model="resposta.a78" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A79</label>
    <md-radio-group ng-model="resposta.a79" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A80</label>
    <md-radio-group ng-model="resposta.a80" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A81</label>
    <md-radio-group ng-model="resposta.a81" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A82</label>
    <md-radio-group ng-model="resposta.a82" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A83</label>
    <md-radio-group ng-model="resposta.a83" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A84</label>
    <md-radio-group ng-model="resposta.a84" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A85</label>
    <md-radio-group ng-model="resposta.a85" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A86</label>
    <md-radio-group ng-model="resposta.a86" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A87</label>
    <md-radio-group ng-model="resposta.a87" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A88</label>
    <md-radio-group ng-model="resposta.a88" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A89</label>
    <md-radio-group ng-model="resposta.a89" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A90</label>
    <md-radio-group ng-model="resposta.a90" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A91</label>
    <md-radio-group ng-model="resposta.a91" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A92</label>
    <md-radio-group ng-model="resposta.a92" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A93</label>
    <md-radio-group ng-model="resposta.a93" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A94</label>
    <md-radio-group ng-model="resposta.a94" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A95</label>
    <md-radio-group ng-model="resposta.a95" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A96</label>
    <md-radio-group ng-model="resposta.a96" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A97</label>
    <md-radio-group ng-model="resposta.a97" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A98</label>
    <md-radio-group ng-model="resposta.a98" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A99</label>
    <md-radio-group ng-model="resposta.a99" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    <label>Questão A100</label>
    <md-radio-group ng-model="resposta.a100" layout="row>">
        <md-radio-button value="1">-1</md-radio-button>
        <md-radio-button value="2">-2</md-radio-button>
        <md-radio-button value="3">-3</md-radio-button>
        <md-radio-button value="4">-4</md-radio-button>
        <md-radio-button value="5">-5</md-radio-button>
        <md-radio-button value="6">-6</md-radio-button>
        <md-radio-button value="7">-7</md-radio-button>
    </md-radio-group>
    </div>
    </div>
</md-card>
</body>
<body>
    <md-card layout="column" layout-margin style="background-color: cornflowerblue">
    <div layout="row" layout-sm="column">
        <div flex>
        {{resposta}}
        </div>
    </div>
    </md-card>
</body>
</html>